# Python
*.pyc
__pycache__/

# Environment Variables
.env

# Models and Data
/models/fake_review_model.pkl
/models/fake_reviews.csv

# Virtual Environment
venv/
.env/

# IDEs and Editors
.vscode/
.idea/
