 # Asynchronous I/O and HTTP requests
# aiofiles  # For asynchronous file handling
openai   # OpenAI API client

# Web crawling and extraction
crawl4ai  # Make sure to check for the latest version

# Data validation and settings management
pydantic  # For data validation using Python type annotations

# Environment variable management
python-dotenv  # For loading environment variables from .env files

# fake detectection dependencies
nltk
numpy
pandas
seaborn
matplotlib
warnings
string
sklearn

# need to run : playwright install

